@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Roboto:regular&display=swap");
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Gilroy";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;
$darkColor: #231f20;
$accentColor: #f7941e;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0px 15px;
	box-sizing: content-box;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
//@import "popup";
@import "header";
@import "footer";
//@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	&__hero {
		margin: 116px 0px 0px 0px;
		transition: margin 0.3s;
		@media (max-width: $md2+px) {
			margin: 80px 0px 0px 0px;
		}
		@media (max-width: $md3+px) {
			margin: 60px 0px 0px 0px;
		}
	}
	&__posts {
	}
	&__call {
	}
}
//===================================================================================================================================
.hero {
	background-color: #f1f1f2;
	&__container {
		padding: 0;
		@media (min-width: $md3+px) {
			display: flex;
		}
	}
	&__container-rev {
		flex-direction: row-reverse;
		.hero__text {
			margin: 0px 0px math.div(40, 20) * 1em 0px;
		}
		@media (min-width: $md3+px) {
			.hero__body {
				@include adaptiv-value("padding-left", 90, 0, 1);
				padding-right: 0;
			}
			.hero__image {
				padding: 0px 0px math.div(600, 1170) * 100% 0px;
			}
		}
	}
	&__content {
		display: flex;
		align-items: center;
		min-width: 50%;
		padding: 0px 25px;
		@media (max-width: $md3+px) {
			padding: 0px 15px;
		}
	}
	&__body {
		padding-top: 30px;
		padding-bottom: 40px;
		@media (min-width: $md3+px) {
			@include adaptiv-value("padding-right", 91, 0, 1);
		}
		& > *:last-child {
			margin-bottom: 0;
		}
	}
	&__title {
		font-weight: 700;
		@include adaptiv-value("font-size", 56, 42, 1);
		line-height: math.div(67, 56) * 100%;
		margin: 0px 0px math.div(40, 56) * 1em 0px;
		&-primary {
			font-weight: normal;
			font-size: 32px;
			line-height: math.div(45, 32) * 100%;
			margin: 0px 0px math.div(30, 32) * 1em 0px;
		}
	}
	&__text {
		font-size: 20px;
		text-align: justify;
		line-height: math.div(28, 20) * 100%;
		@include adaptiv-value("margin-bottom", 55, 30, 1);
	}
	&__button {
		min-height: 60px;
		padding: 0px 46px;
		margin: 0px 0px 30px 0px;
		@media (max-width: $md4+px) {
			width: 100%;
		}
	}
	&__image {
		overflow: hidden;
		flex: 0 0 50%;
		padding: 0px 0px math.div(700, 1170) * 100% 0px;
		min-width: calc(50% + ((100vw - 1170px) / 2));
		img {
			max-width: 100%;
			transition: transform 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					transform: scale(1.025);
				}
			}
		}
	}
}
//====================================================================================================
.posts {
	@include adaptiv-value("padding-top", 96, 50, 1);
	@include adaptiv-value("padding-bottom", 136, 60, 1);
	&__heading {
		@include adaptiv-value("margin-bottom", 70, 30, 1);
	}
	&__body {
		display: grid;
		gap: 30px;
		margin: 0px -15px;
		@media (min-width: $md3+px) {
			margin: 0px 0px;
			grid-template-columns: repeat(4, 1fr);
			@media (max-width: $md2+px) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}
.item-posts {
	transition: box-shadow 0.3s;
	@media (any-hover: hover) {
		&:hover {
			box-shadow: 10px 10px 15px 0px #0000000d;
			.item-posts__content {
				background-color: #fff;
			}
		}
	}
	&__image {
		padding: 0px 0px 100% 0px;
	}
	&__content {
		@include adaptiv-value("min-height", 166, 116, 1);
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		@include adaptiv-value("padding", 24, 15, 1);
		transition: background-color 0.3s;
		background-color: #fafafa;
		& > *:last-child {
			margin-bottom: 0;
		}
	}
	&__title {
		flex: 1 1 auto;
		font-size: 20px;
		line-height: math.div(24, 20) * 100%;
		margin: 0px 0px math.div(20, 20) * 1em 0px;
	}
	&__link {
		position: relative;
		font-family: "Roboto";
		color: inherit;
		font-size: 14px;
		line-height: math.div(19, 14) * 100%;
		margin: 0px 0px math.div(20, 14) * 1em 0px;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: -4px;
			width: 0;
			height: 2px;
			background-color: $mainColor;
			transition: width 0.3s;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					width: 100%;
				}
			}
		}
	}
}
//====================================================================================================
.call {
	@include adaptiv-value("padding-top", 80, 50, 1);
	@include adaptiv-value("padding-bottom", 80, 50, 1);
	background-color: $accentColor;
	&__container {
		@media (min-width: $md3+px) {
			max-width: 970px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	&__content {
		margin: 0px 0px 30px 0px;
		& > *:last-child {
			margin-bottom: 0;
		}
		@media (min-width: $md3+px) {
			flex: 0 1 50%;
			margin: 0px 30px 0px 0px;
		}
	}
	&__title {
		font-weight: 700;
		font-size: 32px;
		line-height: math.div(45, 32) * 100%;
		margin: 0px 0px math.div(5, 32) * 1em 0px;
	}
	&__text {
		@include adaptiv-value("font-size", 32, 22, 1);
		line-height: math.div(45, 32) * 100%;
		margin: 0px 0px math.div(5, 32) * 1em 0px;
	}
	&__actions {
		display: flex;
		align-items: center;
		@media (max-width: $md4+px) {
			flex-wrap: wrap;
		}
	}
	&__button {
		&:first-child {
			margin: 0px 16px 0px 0px;
		}
		@media (max-width: $md4+px) {
			flex: 0 0 100%;
			&:first-child {
				margin: 0px 0px 16px 0px;
			}
		}
	}
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
